@model VrumVrumCar.Models.Nota

@{
    ViewData["Title"] = "Excluir Nota";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <h3 class="text-danger text-center">Tem certeza de que deseja excluir esta nota?</h3>
    <div>
        <h4>Detalhes da Nota</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Numero)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataEmissao)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DataEmissao)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Garantia)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Garantia)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ValorVenda)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ValorVenda)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Cliente.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Vendedor)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Vendedor.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Carro)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Carro.Id)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="text-center">
                <input type="submit" value="Excluir" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>
