@model VrumVrumCar.Models.Nota

@{
    ViewData["Title"] = "Detalhes da Nota";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div>
        <h4>Detalhes da Nota</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Numero)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataEmissao)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DataEmissao)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Garantia)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Garantia)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ValorVenda)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ValorVenda)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Cliente.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Vendedor)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Vendedor.Id)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Carro)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Carro.Id)
            </dd>
        </dl>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</div>
