@model IEnumerable<VrumVrumCar.Models.Nota>

@{
    ViewData["Title"] = "Notas";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <p class="text-right">
        <a asp-action="Create" class="btn btn-primary">Criar Nova Nota</a>
    </p>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Numero)</th>
                <th>@Html.DisplayNameFor(model => model.First().DataEmissao)</th>
                <th>@Html.DisplayNameFor(model => model.First().Garantia)</th>
                <th>@Html.DisplayNameFor(model => model.First().ValorVenda)</th>
                <th>@Html.DisplayNameFor(model => model.First().Cliente)</th>
                <th>@Html.DisplayNameFor(model => model.First().Vendedor)</th>
                <th>@Html.DisplayNameFor(model => model.First().Carro)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataEmissao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Garantia)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValorVenda)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cliente.Nome)</td> <!-- Exibindo o nome do cliente -->
                    <td>@Html.DisplayFor(modelItem => item.Vendedor.Nome)</td> <!-- Exibindo o nome do vendedor -->
                    <td>@Html.DisplayFor(modelItem => item.Carro.Modelo)</td> <!-- Exibindo o modelo do carro -->
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
