@model VrumVrumCar.Models.Vendedor

@{
    ViewData["Title"] = "Excluir Vendedor";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center text-danger">@ViewData["Title"]</h1>
            <h3 class="text-center">Você tem certeza que deseja excluir este vendedor?</h3>
            <hr />

            <div class="border p-3 rounded bg-light">
                <h4>Detalhes do Vendedor</h4>
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.DataAdmissao)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DataAdmissao)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Matricula)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Matricula)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Salario)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Salario)
                    </dd>
                </dl>
            </div>

            <form asp-action="Delete" class="mt-4">
                <input type="hidden" asp-for="Id" />

                <div class="text-center">
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Voltar para Lista</a>
                </div>
            </form>
        </div>
    </div>
</div>
