@model VrumVrumCar.Models.Cliente

@{
    ViewData["Title"] = "Deletar Cliente";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">@ViewData["Title"]</h1>

            <h3 class="text-center text-warning mt-4">Tem certeza que deseja deletar este cliente?</h3>

            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Informações do Cliente</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">Nome</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

                        <dt class="col-sm-3">Data de Nascimento</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.DataNasc)</dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-3">Telefone</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Telefone)</dd>

                        <dt class="col-sm-3">Endereço</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Endereco)</dd>

                        <dt class="col-sm-3">CPF</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.CPF)</dd>
                    </dl>
                </div>
            </div>

            <div class="mt-4 d-flex justify-content-between">
                <form asp-action="Delete" class="d-inline">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
                <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </div>
    </div>
</div>
