@model IEnumerable<VrumVrumCar.Models.Carro>

@{
    ViewData["Title"] = "Lista de Carros";
}

<div class="container my-4">
    <h1 class="text-center text-primary mb-4">Lista de Carros</h1>

    <p class="text-end">
        <a asp-action="Create" class="btn btn-success">Adicionar Novo Carro</a>
    </p>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnoFabricacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnoModelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Chassi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => item.AnoFabricacao)</td>
                <td>@Html.DisplayFor(modelItem => item.AnoModelo)</td>
                <td>@Html.DisplayFor(modelItem => item.Chassi)</td>
                <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info mx-2">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
